@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto
}