@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'typeface-lato';

body{
  height: 100vh;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(15, 15, 15);
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
  }
  
  /* Style the scrollbar track */
  body::-webkit-scrollbar-track {
    background-color: transparent;
  }
  /* body::-webkit-scr */
  /* Add a hover effect to the scrollbar thumb */
  body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }